<div style="margin-left:250px; width:100%;">
<div class="container m-5" *ngFor="let building of buildings; let i = index">
<div class="row">
  <!-- <div >
    <img src="/assets/imgs/building.jpeg" alt="Girl in a jacket" style="width:200px;height:140px;">
  </div> -->
  
    <div class="col-lg-2">
      <img src="/assets/imgs/building.jpeg" alt="Girl in a jacket" style="width:200px;height:160px;">
        
    </div>
    <div class="col-lg-8">
      <h1><a routerLink="/building" [state]="{building:building,rooms:null}">{{building.building}}</a></h1>        
        <p>
            Selecciona una sala dentro del desplegable.
        </p>
        <div class="accordion" id="{{ 'accordionPanelsStayOpen' + i}}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ 'panelsStayOpen-heading' + i}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="{{'#panelsStayOpen-collapse' + i}}" aria-expanded="false" attr.aria-controls="{{'panelsStayOpen-collapse'+ i}}">
                    SALAS
                  </button>
                </h2>
                <div *ngFor="let room of building.room; ; let j = index" id="{{'panelsStayOpen-collapse' + i}}" class="accordion-collapse collapse" attr.aria-labelledby="{{ 'panelsStayOpen-heading' + i}}">
                  <div class="accordion-body">                    
                    <a routerLink="/building" [state]="{building:building,rooms:j}" ><strong>{{room}}</strong></a>
                  </div>
                </div>
                <!-- <div id="{{'panelsStayOpen-collapse' + i}}" class="accordion-collapse collapse" attr.aria-labelledby="{{ 'panelsStayOpen-heading' + i}}">
                    <div class="accordion-body">
                        <a routerLink="/about"><strong>Sala 2</strong></a>
                    </div>
                  </div> -->
              </div>
        </div>
    </div>
</div>
<hr>
</div>

</div>