.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}

.text-blue {
    --tw-text-opacity: 1;
    color: rgb(15 26 242/var(--tw-text-opacity));
}

.icon-arrow-left:before {
    content: "\e90c"
}


a {
    color: #0f1af2;
    text-decoration: none
}

a:hover {
    color: #3f48f5
}

.title{
    font-family: Raleway;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 170%;
    margin-bottom: 0.3em;
}

.bar:hover {
    fill: none;
    stroke: red;
    stroke-width: 3px;
    transition: fill 0.4s;
}

.testB {
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .testB:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .testB:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
   
   /* CSS */
   .button-61 {
     align-items: center;
     appearance: none;
     border-radius: 4px;
     border-style: none;
     box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-flex;
     font-family: Roboto,sans-serif;
     font-size: .875rem;
     font-weight: 500;
     height: 36px;
     justify-content: center;
     letter-spacing: .0892857em;
     line-height: normal;
     min-width: 64px;
     outline: none;
     overflow: visible;
     padding: 0 16px;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: middle;
     will-change: transform,opacity;
   }
   
   .button-61:hover {
     box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
   }
   
   .button-61:disabled {
     background-color: rgba(0, 0, 0, .12);
     box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
     color: rgba(0, 0, 0, .37);
     cursor: default;
     pointer-events: none;
   }
   
   .button-61:not(:disabled) {
     background-color: #6200ee;
   }
   
   .button-61:focus {
     box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
   }
   
   .button-61:active {
     box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
     background: #A46BF5;
   }

   .gaby{
    box-shadow: 0 0 15px 0px #504e4e;
    clip-path: inset(0px 0px -15px 0px);
  }

  span{
    color:red;
  }